@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-1: oklch(0.94 0.02 14.5);
  --color-brand-2: oklch(0.86 0.04 14.6);
  --color-brand-3: oklch(0.74 0.07 14.7);
  --color-brand-4: oklch(0.63 0.1 14.6);
  --color-brand-5: oklch(0.52 0.13 14.7);
  --color-brand-6: oklch(0.41 0.17 14.6);
  --color-brand-7: oklch(0.35 0.15 14.5);
  --color-brand-8: oklch(0.29 0.12 14.4);
  --color-brand-9: oklch(0.23 0.09 14.3);
  --color-brand-10: oklch(0.1 0.04 14.3);

  --text-h1: 3.81rem;
  --text-h2: 3.06rem;
  --text-h3: 2.44rem;
  --text-h4: 1.94rem;
  --text-h5: 1.56rem;
  --text-h6: 1.25rem;
  --text-body: 1rem;
  --text-small: 0.81rem;
  --text-caption: 0.62rem;
}

/* TODO */
/* font family inter */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap"); */
/* Test on pixelify */
/* 

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

:root {
  --background: oklch(0.99 0.01 240);
  --foreground: oklch(0.2 0.01 14.6);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1 0.01 14.6);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1 0.01 14.6);
  --primary: oklch(0.41 0.17 14.6);
  --primary-foreground: oklch(0.98 0.01 14.6);
  --secondary: oklch(0.95 0.02 14.6);
  --secondary-foreground: oklch(0.3 0.01 14.6);
  --muted: oklch(0.96 0.01 14.6);
  --muted-foreground: oklch(0.45 0.01 14.6);
  --accent: oklch(0.92 0.03 14.6);
  --accent-foreground: oklch(0.25 0.01 14.6);
  --destructive: oklch(0.6 0.1 10);
  --destructive-foreground: oklch(0.98 0.01 14.6);
  --border: oklch(0.9 0.01 14.6);
  --input: oklch(0.9 0.01 14.6);
  --ring: oklch(0.41 0.17 14.6);
  --chart-1: oklch(0.41 0.17 14.6);
  --chart-2: oklch(0.5 0.15 60);
  --chart-3: oklch(0.6 0.14 120);
  --chart-4: oklch(0.65 0.13 220);
  --chart-5: oklch(0.7 0.12 300);
  --sidebar: oklch(0.98 0.01 14.6);
  --sidebar-foreground: oklch(0.2 0.01 14.6);
  --sidebar-primary: oklch(0.41 0.17 14.6);
  --sidebar-primary-foreground: oklch(0.98 0.01 14.6);
  --sidebar-accent: oklch(0.92 0.03 14.6);
  --sidebar-accent-foreground: oklch(0.25 0.01 14.6);
  --sidebar-border: oklch(0.9 0.01 14.6);
  --sidebar-ring: oklch(0.41 0.17 14.6);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.12 0.02 14.6);
  --foreground: oklch(0.9 0.01 14.6);
  --card: oklch(0.1 0.01 14.6);
  --card-foreground: oklch(0.95 0 0);
  --popover: oklch(0.1 0.01 14.6);
  --popover-foreground: oklch(0.95 0 0);
  --primary: oklch(0.41 0.17 14.6);
  --primary-foreground: oklch(0.98 0.01 14.6);
  --secondary: oklch(0.2 0.02 14.6);
  --secondary-foreground: oklch(0.7 0.01 14.6);
  --muted: oklch(0.15 0.01 14.6);
  --muted-foreground: oklch(0.6 0.01 14.6);
  --accent: oklch(0.25 0.03 14.6);
  --accent-foreground: oklch(0.8 0.01 14.6);
  --destructive: oklch(0.6 0.1 10);
  --destructive-foreground: oklch(0.98 0.01 14.6);
  --border: oklch(0.3 0.01 14.6);
  --input: oklch(0.3 0.01 14.6);
  --ring: oklch(0.41 0.17 14.6);
  --chart-1: oklch(0.41 0.17 14.6);
  --chart-2: oklch(0.5 0.15 60);
  --chart-3: oklch(0.6 0.14 120);
  --chart-4: oklch(0.65 0.13 220);
  --chart-5: oklch(0.7 0.12 300);
  --sidebar: oklch(0.12 0.02 14.6);
  --sidebar-foreground: oklch(0.9 0.01 14.6);
  --sidebar-primary: oklch(0.41 0.17 14.6);
  --sidebar-primary-foreground: oklch(0.98 0.01 14.6);
  --sidebar-accent: oklch(0.25 0.03 14.6);
  --sidebar-accent-foreground: oklch(0.8 0.01 14.6);
  --sidebar-border: oklch(0.3 0.01 14.6);
  --sidebar-ring: oklch(0.41 0.17 14.6);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.5;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --shadow-sm:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.5),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.5),
    0rem 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.5),
    0rem 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.5),
    0rem 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl:
    0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.5),
    0rem 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
